@import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");
body {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: #e5eff5;
}
.container {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-template-rows: auto;
  grid-template-areas:
    "top top"
    "left right"
    "footer footer";
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
}
.top {
  grid-area: top;
  padding: 1rem 2rem;
  background: white;
}
.top h1 {
  color: #2bb3b1;
}
.top h3 {
  color: #bfdf32;
}
.top p {
  line-height: 1.5;
  color: #888;
}
.left {
  grid-area: left;
  background: #2bb3b1;
  color: white;
  padding: 1rem 2rem;
  /* border-radius: 0 0 0 8px; */
}
.left span {
  font-weight: bold;
  font-size: 2rem;
}
.left button {
  background: #bfdf32;
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  padding: 0.75rem 0;
  width: 100%;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.2);
}
.right {
  grid-area: right;
  background: #4abebd;
  color: white;
  padding: 1rem 0;
  /* border-radius: 0 0 8px 0; */
}
.right h3 {
  padding: 0 2.25rem;
}
.right li {
  list-style-type: none;
  font-size: 1rem;
}
footer {
  grid-area: footer;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .container {
    margin: 1rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "top"
      "left"
      "right";
  }
}
